#profile-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

#user-info-section {
  /* background-color: var(--base-fg); */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: var(--spacing-base);
}

#user-img {
  /* profile-info child */
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: var(--rounded-sm);
}

#username {
  margin: 0;
}

#user-details {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

#user-stats {
  /* profile-details child */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--spacing-sm);
}

#user-stats .user-stats-child {
  text-transform: uppercase;
  font-size: var(--text-sm);
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}

.label-sm {
  color: var(--text-darkened);
  letter-spacing: 0.11em;
}

#profile-contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-lg);
}

#profile-contents .col-1 {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
#profile-contents .col-2 {
  flex-grow: 2;
}

#profile-contents section {
  /* reviews-section, albums-section, lists-section */
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

#profile-contents section h3 {
  margin-left: var(--spacing-sm);
}

#reviews-contents {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}
.profile-section-text-container{
  display: flex;
  justify-content: flex-start;

}
.profile-section-text-container .profile-section-subtitle{
  font-weight: normal;
  font-size: medium;
  padding-right: 5px;
  padding-left: 51%;
  cursor: pointer;
}

profile-section-text-container i{
  font-size: medium;
  cursor: pointer;

}

.section-header {
  display: flex;
  justify-content: space-between;
}

#all-reviews-label {
  display: flex;
  gap: var(--spacing-xs);
}

.section-header-label-sm {
  font-weight: normal;
  font-size: var(--text-base);
}

#account-modal .settings{
  display: flex;
  justify-content: space-between;
  padding: 15px 0px 15px 0;
}

#account-modal button{
  cursor: pointer;
}

#create-list-btn {
  font-family: inherit;
  font-size: var(--text-sm);
  color: var(--text);
  background-color: var(--base-fg);
  padding: var(--spacing-xs);
  border: none;
  text-decoration: none;
  display: inline-block;
  border-radius: var(--rounded-sm);
  cursor: pointer;
}

.button-group button{
  cursor: pointer;
}

#create-list-modal-cancel-btn {
  background: none;
  color: var(--text-darkened);
}

.album-card img{
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.album-card h2{
  font-size: medium;
  font-weight: bold;
}

.album-card p{
  font-size: small;
  font-weight: normal;
  color: var(--text-darkened);
}


#lists-contents hr {
  opacity: 0.3;
  margin: var(--spacing-sm) 0;
}

.list-card {
  width: 100%;
  max-height: fit-content;
  padding: 0 var(--spacing-sm);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-sm);
}

.list-card p {
  font-size: var(--text-sm);
  word-wrap: break-word;
}

.list-card img {
  height: 50px;
  width: auto;
  border-radius: var(--rounded-sm);
}

.list-card .list-details {
  /* playlist name + song count */
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxs);
}


/* ALBUM COMPONENT */

#albums-contents {
  display: flex;
  gap: var(--spacing-sm);
  margin-bottom: 10px;
}

#albums-contents img {
  height: 125px; /* Set the height of the images */
  width: auto; /* Allow the width to adjust proportionally */
  border-radius: var(--rounded-sm);
}

#albums-contents h4 {
  margin-top: 5px;
}

.artist-labels {
  font-size: var(--text-sm);;
  font-weight: 300;
  color: rgb(180, 180, 180);
}

/* END ALBUM COMPONENT */

.follow-container{
  display: flex;
  justify-content: space-between;
  padding: 15px 0px 15px 0px;
  align-items: center;
}
