.intro {
    margin-bottom: 50px;
}

.intro p {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

.intro span {
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    color:white;
}

.intro span button {
    background: black;
}

.intro span button:first-child {
    margin-right: 10px;
}

.intro span button a {
    text-decoration: none;
}

.intro span button a:hover {
    color: #adadad;
}
