:root {
    /* theme colors */
    --base: #131c26;
    --base-fg: hsl(215, 28%, 17%);
    --text: #f9f6f4;
    --text-darkened: #a6a5a9;
    --text-darkened-2: #585759;

    /* border radius */
    --rounded-base: 10px;
    --rounded-sm: 6px;

    /* spacing */
    --spacing-lg: 22px;
    --spacing-md: 18px;
    --spacing-base: 15px;
    --spacing-sm: 12px;
    --spacing-xs: 8px;
    --spacing-xxs: 4px;

    /* font size */
    --text-md: 1.2em;
    --text-base: 1em;
    --text-sm: 0.8em;
    --text-xs: 0.7em;
}

body {
    font: normal 1em "Work Sans", sans-serif;
    color: var(--text);
    background-color: var(--base);
}

* {
    padding: 0;
    margin: 0;
    line-height: 1.15;
}

a:link, a:visited {
    color: var(--text)
}

.main-container {
    /* main body content */
    min-width: 650px;
    width: 60vw;
    max-width: 1300px;
    margin: 100px auto;
}

.container-box {
    border-radius: var(--rounded-base);
    padding: var(--spacing-base);
}

/* REVIEW CARD COMPONENT */
.review-card {
    background-color: var(--base-fg);
    max-height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-sm);
}
  
.review-card .review-body {
    /* album art + review details */
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sm);
}
  
.review-card .review-body p {
    font-size: var(--text-sm);
    word-wrap: break-word;
}

.review-card .artist-label {
    color: var(--text-darkened);
    font-weight: lighter;
}

.review-card img {
    height: 60px;
    width: auto;
    border-radius: var(--rounded-sm);
}
  
.review-card .review-details {
    /* song title/artist + rating + review text */
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxs);
}

.review-card .review-likes {
    /* heart icon + like count */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-xxs);
    width: 50px;
}
/* END REVIEW CARD COMPONENT */

/* HEADER COMPONENT */
.header-container{
    display: flex;
    height: 55px;
    background-color: white;
    color: black;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}

.header-container h1{
    font-weight: bold;
    margin-right: 50%;
}

.header-container a:link, a:visited {
    color: black;
    text-decoration: none;
}
/* END HEADER COMPONENT */
