body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

header {
    display: flex; /* Flexbox layout to align image and text side-by-side */
    align-items: start; /* Center-aligns items vertically */
    flex-direction: column;
    padding: 10px; /* Adds padding around the elements */
  }
  
  header img {
    width: 100px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio of the image */
    margin-right: 20px; /* Adds space between the image and the text content */
  }

nav a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#review-section article, aside {
    border: 1px solid #ccc;
    padding: 20px;
    margin-right: 20px;
}

h2, #saved-lists h3, #other-reviews h3 {
    color: #333;
}

.rating {
    color: gold;
    font-size: 20px;
}

.description, .likes, footer span {
    display: block;
    margin-top: 10px;
}

.list, .review {
    padding: 10px;
    border: 1px solid black;
    margin-top: 10px;
}

aside section {
    margin-top: 20px;
}

#song-img {
    /* profile-info child */
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: var(--rounded-sm);
  }
